<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Trainer</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
    <header>
        <img src="../static/img/biografia.png" alt="Banner Bio"
            style="width: 100%; max-width: 600px; height: auto; margin: auto; display: block;">
    </header>

    <nav>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="../templates/servicios.html">Servicios</a></li>
            <li><a href="../templates/fotos.html">Fotos</a></li>
            <li><a href="../templates/contacto.html">Contacto</a></li>
            <li><a href="../templates/biografia.html">Biografia</a></li>
            <li><a href="../templates/testimonios.html">Testimonios</a></li>
        </ul>
    </nav>

    <section class="content" id="servicios">
        <h2>Sus primeros pasos</h2>
        <p>Nacido entre los callejones y los clubes de barrio de zona sur, “El Toro” comenzó a forjar su leyenda desde muy joven. A los 7 años ya cargaba más peso que la mayoría de los adultos del gimnasio local. Nadie sabía cómo, pero todos lo veían: donde otros veían juegos, él veía entrenamiento. Cuentan que su primer banco de pesas fue una heladera vieja y su primer entrenador, un vecino con miedo.</p>
        <br>
        <hr>
        <br>
        <h2>Fama mundial</h2>
        <p>A los 23 años, tras romper cinco récords regionales en una misma tarde, su nombre cruzó fronteras. Invitado a competir en torneos clandestinos en Europa del Este y Asia, pronto se ganó el apodo que lo acompañaría para siempre: El Toro. Entrenadores rusos, fisicoculturistas alemanes y hasta monjes tibetanos lo estudiaban, intentando descifrar su técnica. Pero él nunca reveló sus secretos... solo dejaba que hablara su cuerpo.</p>
        <br>
        <hr>
        <br>
        <h2>Guiness</h2>
        <p>En 2021, frente a una multitud enloquecida en el microestadio de Avellaneda, “El Toro” realizó 2.000 flexiones en 30 minutos mientras sostenía un neumático de tractor sobre su espalda. La transmisión fue interrumpida en varios países por su nivel de intensidad. Días después, su nombre aparecía en el libro Guinness junto a una nota peculiar: "Rompió el récord... y el suelo."</p>
    </section>

    <footer>
        <p>&copy; 2025 Entrenador Personal Nicolas EL TORO Portuguez. Todos los derechos reservados.</p>
    </footer>
</body>

</html>