<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Toro | Biografia</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="icon" type="image/png" href="../static/img/icon.png">
</head>

<body>
    <header>
        <img src="../static/img/banner.png" alt="Banner Bio"
            style="width: 100%; max-width: 600px; height: auto; margin: auto; display: block;">
    </header>

    <nav>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="../templates/servicios.html">Servicios</a></li>
            <li><a href="../templates/fotos.html">Fotos</a></li>
            <li><a href="../templates/contacto.html">Contacto</a></li>
            <li><a href="../templates/biografia.html">Biografia</a></li>
            <li><a href="../templates/testimonios.html">Testimonios</a></li>
        </ul>
    </nav>

    <section class="content" id="servicios">
        <div class="img-wrapper">
            <img src="../static/img/biografia.png" alt="Redes sociales">
        </div>
        <p>Ícono del fisicoculturismo y la biomecánica humana.
        </p>
        <br>
        <hr>
        <br>
        <div class="img-wrapper">
            <img src="../static/img/primeros_pasos.png" alt="Redes sociales">
        </div>
        <img src="../static/img/baby.png" alt="Logo Toro" class="baby">
        <p>Nicolás —o ‘Nicóla’, como lo llamaba su abuela— comenzó a forjar su leyenda desde muy joven. A los 7 años ya
            cargaba más peso que la mayoría de los adultos del gimnasio local. Cuentan que su
            primer banco de pesas fue una heladera vieja y su primer entrenador un vecino con miedo, a quien logró
            superar en dos días.
        </p>
        <br>
        <hr>
        <br>
        <div class="img-wrapper">
            <img src="../static/img/convirtiendose.png" alt="Redes sociales">
        </div>
        <img src="../static/img/icon.png" alt="Logo Toro" class="baby">
        <p>A los 17 años, tras romper cinco récords regionales en una misma tarde, su nombre cruzó fronteras. Invitado a
            competir en torneos clandestinos en Europa del Este y Asia, pronto se ganó el apodo que lo acompañaría para
            siempre: "El Toro". Entrenadores rusos, fisicoculturistas ucranianos y hasta monjes tibetanos lo estudiaban,
            intentando descifrar su técnica. Pero él nunca reveló sus secretos... solo dejaba que hablara su cuerpo.
            ¡Hasta hoy señora! ¡Porque por solo USD$100 la clase el Torito de Zona Sur le va a revelar todos sus
            secretos!
        </p>
        <br>
        <hr>
        <br>
        <div class="img-wrapper">
            <img src="../static/img/fama.png" alt="Redes sociales">
        </div>
        <img src="../static/img/champion.png" alt="Logo Toro" class="baby">
        <p>En 2014, frente a una multitud enloquecida en el microestadio de Avellaneda, “El Toro” realizó 2.000
            flexiones en 14 minutos mientras sostenía un neumático de tractor sobre su espalda. La transmisión fue
            interrumpida en varios países por su nivel de intensidad. Días después, su nombre aparecía en el libro
            Guinness de los records. Debido a su arduo labor la universidad de Massachusetts le ha otorgado el
            prestigioso titulo: "Doctorado
            Honoris Causa en Arquitectura Superior de Biomecánica Humana"</p>
    </section>

    <footer>
        <p>&copy; 2025 Entrenador Personal Nicolas EL TORO Portuguez. Todos los derechos reservados.</p>
    </footer>
</body>

</html>