<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Toro | Contacto</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="icon" type="image/png" href="../static/img/icon.png">
</head>

<body>
    <header>
        <img src="../static/img/banner.png" alt="Banner de contacto"
            style="width: 100%; max-width: 600px; height: auto; margin: auto; display: block;">
    </header>

    <nav>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="../templates/servicios.html">Servicios</a></li>
            <li><a href="../templates/fotos.html">Fotos</a></li>
            <li><a href="../templates/contacto.html">Contacto</a></li>
            <li><a href="../templates/biografia.html">Biografia</a></li>
            <li><a href="../templates/testimonios.html">Testimonios</a></li>
        </ul>
    </nav>

    <section class="content" id="servicios">
        <div class="img-wrapper">
            <img src="../static/img/redes.png" alt="Redes sociales">
        </div>
        <div class="img-wrapper">
            <img src="../static/img/tel.png" alt="Redes sociales">
        </div>
        <p>11 2858 8989</a></p>
        <p><a href="https://wa.me/541128588989" target="_blank" rel="noopener">Chatear por WhatsApp</a></p>
        <br>
        <div class="img-wrapper">
            <img src="../static/img/ig.png" alt="Redes sociales">
        </div>
        <p><a href="https://www.instagram.com/b_ardovk" target="_blank">@b_ardovk</a></p>
        <br>
        <div class="img-wrapper">
            <img src="../static/img/face.png" alt="Redes sociales">
        </div>
        <p><a href="https://www.facebook.com/nico.portuguez" target="_blank">Nico Portuguez</a></p>
        <br>
    </section>

    <footer>
        <p>&copy; 2025 Entrenador Personal Nicolas Portuguez. Todos los derechos reservados.</p>
    </footer>
</body>

</html>