<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>El Toro | Fotos</title>
  <link rel="stylesheet" href="../static/css/styles.css">
  <link rel="icon" type="image/png" href="../static/img/icon.png">
</head>

<body>
  <header>
    <img src="../static/img/banner.png" alt="Banner El Toro"
      style="width: 100%; max-width: 600px; height: auto; margin: auto; display: block;">
  </header>

  <nav>
    <ul>
      <li><a href="../index.html">Inicio</a></li>
      <li><a href="../templates/servicios.html">Servicios</a></li>
      <li><a href="../templates/fotos.html">Fotos</a></li>
      <li><a href="../templates/contacto.html">Contacto</a></li>
      <li><a href="../templates/biografia.html">Biografia</a></li>
      <li><a href="../templates/testimonios.html">Testimonios</a></li>
    </ul>
  </nav>

  <section class="content" id="fotos">
    <div class="carousel">
      <button class="carousel-btn prev">❮</button>
      <div class="carousel-track-container">
        <ul class="carousel-track">
          <li class="carousel-slide current-slide">
            <img src="../static/img/gallery/foto1.jpeg" alt="Foto 1">
          </li>
          <li class="carousel-slide">
            <img src="../static/img/gallery/foto2.jpg" alt="Foto 2">
          </li>
          <li class="carousel-slide">
            <img src="../static/img/gallery/foto3.png" alt="Foto 3">
          </li>
        </ul>
      </div>
      <button class="carousel-btn next">❯</button>
    </div>
  </section>

  </section>
  <footer>
    <p>&copy; 2025 Entrenador Personal Nicolas EL TORO Portuguez. Todos los derechos reservados.</p>
  </footer>
  <script src="../static/js/carousel.js"></script>
</body>

</html>