<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Toro | Testimonios</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="icon" type="image/png" href="../static/img/icon.png">
</head>

<body>
    <header>
        <img src="../static/img/banner.png" alt="Banner El Toro"
            style="width: 100%; max-width: 600px; height: auto; margin: auto; display: block;">
    </header>

    <nav>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="../templates/servicios.html">Servicios</a></li>
            <li><a href="../templates/fotos.html">Fotos</a></li>
            <li><a href="../templates/contacto.html">Contacto</a></li>
            <li><a href="../templates/biografia.html">Biografia</a></li>
            <li><a href="../templates/testimonios.html">Testimonios</a></li>
        </ul>
    </nav>

    <section class="content" id="servicios">
        <div class="img-wrapper">
            <img src="../static/img/testimonios.png" alt="Redes sociales">
        </div>
        <br>
        <p>"El dia que lo vi supe lo que queria para el resto de mi vida: ser musculoso. Las rutinas de la bestia me
            llevaron a lo mas alto. Gracias Toro querido. Te mando un saludo desde Massachusetts, Connecticut"</p>
        <div class="img-wrapper">
            <img src="../static/img/ronnie.png" alt="Redes sociales">
        </div>
        <hr>
        <br>
        <br>
        <p>"El Toro ha sido la inspiracion para mi mas grande obra: Rocky 5."</p>
        <div class="img-wrapper">
            <img src="../static/img/silvester.png" alt="Redes sociales">
        </div>
        <hr>
        <br>
        <br>
        <p>"Es el mejor nutricionista que he tenido."</p>
        <div class="img-wrapper">
            <img src="../static/img/arnold.png" alt="Redes sociales">
        </div>
    </section>

    <footer>
        <p>&copy; 2025 Entrenador Personal Nicolas EL TORO Portuguez. Todos los derechos reservados.</p>
    </footer>
</body>

</html>